<%- include('./partials/header.ejs') %>
<nav>
  <a href="/restaurants">List of restaurants</a>
  |
  <a href="/users/signout">Sign Out</a>
</nav>
  <body>
    <h1>Edit Restaurant</h1>
    <form action="/restaurants/<%=restaurant.id%>?_method=PUT" method="POST">
        <fieldset>
          <label for="cuisine">Cuisine:</label>
          <input type="text" name="cuisine" id="cuisine" value="<%=restaurant.cuisine%>">
        </fieldset>
        <fieldset>
           <label for="name">Restaurant Name</label>
           <input type="text" name="name" id="name" value="<%=restaurant.name%>">
        </fieldset>
        <fieldset>
           <label for="rating">Restaurant Rating</label>
           <input type="number" name="rating" id="rating" value="<%=restaurant.rating%>">
        </fieldset>
        <fieldset>
           <label for="favDish">Favorite Dish</label>
           <input type="text" name="favDish" id="favDish" value="<%=restaurant.favDish%>">
        </fieldset>
        <fieldset>
           <label for="img">Img Link</label>
           <input type="text" name="img" id="img" value="<%=restaurant.img%>">
        </fieldset><br><br>
        <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
