<%- include('./partials/header.ejs') %>
  <body>
 <h1>Welcome to Takeout</h1>
 <h3>Italian</h3>
   <ul>
  <%for (let i=0;i<restaurants.length;i++){%>
    <%if(restaurants[i].cuisine.toLowerCase() ==='italian'){%>
    <li>
      <a href="/restaurants/<%=restaurants[i].id%>">
      <%=restaurants[i].name%>
      </a>
    </li>
    <%}%>
      <%}%>
  </ul>
  <h3>Thai</h3>
  <ul>
 <%for (let i=0;i<restaurants.length;i++){%>
   <%if(restaurants[i].cuisine.toLowerCase()==='thai'){%>
   <li>
     <a href="/restaurants/<%=restaurants[i].id%>">
     <%=restaurants[i].name%>
     </a>
   </li>
   <%}%>
 <%}%>
 </ul>
  </body>
</html>
