<%- include('./partials/header.ejs') %>
<nav>
  <a href="/restaurants/new">Add a new restaurant</a>
  |
  <a href="/users/signout">Sign Out</a>
</nav>
<body>
 <h1>Welcome to Takeout</h1>
 <div class="mainbox">
   <div class="box">
   <div class="container">
     <h3>Italian</h3>
     <ul>
      <%for (let i=0;i<restaurants.length;i++){%>
        <%if(restaurants[i].cuisine.toLowerCase() ==='italian'){%>
        <li>
          <a href="/restaurants/<%=restaurants[i].id%>">
          <%=restaurants[i].name%>
          </a>
        </li>
        <%}%>
          <%}%>
    </ul>
    </div>
    <div class="container">
    <h3>Thai</h3>
    <ul>
       <%for (let i=0;i<restaurants.length;i++){%>
         <%if(restaurants[i].cuisine.toLowerCase()==='thai'){%>
         <li>
           <a href="/restaurants/<%=restaurants[i].id%>">
           <%=restaurants[i].name%>
           </a>
         </li>
         <%}%>
       <%}%>
     </ul>
     </div>
     <div class="container">
       <h3>Japanese</h3>
       <ul>
      <%for (let i=0;i<restaurants.length;i++){%>
        <%if(restaurants[i].cuisine.toLowerCase()==='japanese'){%>
        <li>
          <a href="/restaurants/<%=restaurants[i].id%>">
          <%=restaurants[i].name%>
          </a>
        </li>
        <%}%>
      <%}%>
      </ul>
    </div>
    <div class="container">
    <h3>Chinese</h3>
    <ul>
    <%for (let i=0;i<restaurants.length;i++){%>
     <%if(restaurants[i].cuisine.toLowerCase()==='chinese'){%>
     <li>
       <a href="/restaurants/<%=restaurants[i].id%>">
       <%=restaurants[i].name%>
       </a>
     </li>
     <%}%>
    <%}%>
    </ul>
    </div>
   <div class="container">
     <h3>American</h3>
      <ul>
      <%for (let i=0;i<restaurants.length;i++){%>
       <%if(restaurants[i].cuisine.toLowerCase()==='american'){%>
       <li>
         <a href="/restaurants/<%=restaurants[i].id%>">
         <%=restaurants[i].name%>
         </a>
       </li>
       <%}%>
      <%}%>
      </ul>
    </div>
   <div class="container">
  <h3>Soul</h3>
      <ul>
      <%for (let i=0;i<restaurants.length;i++){%>
       <%if(restaurants[i].cuisine.toLowerCase()==='soul'){%>
       <li>
         <a href="/restaurants/<%=restaurants[i].id%>">
         <%=restaurants[i].name%>
         </a>
       </li>
       <%}%>
      <%}%>
      </ul>
    </div>
   <div class="container">
    <h3>Mediterranean</h3>
    <ul>
    <%for (let i=0;i<restaurants.length;i++){%>
     <%if(restaurants[i].cuisine.toLowerCase()==='mediterranean'){%>
     <li>
       <a href="/restaurants/<%=restaurants[i].id%>">
       <%=restaurants[i].name%>
       </a>
     </li>
     <%}%>
    <%}%>
    </ul>
    </div>
    <div class="container">
     <h3>Korean</h3>
     <ul>
     <%for (let i=0;i<restaurants.length;i++){%>
      <%if(restaurants[i].cuisine.toLowerCase()==='korean'){%>
      <li>
        <a href="/restaurants/<%=restaurants[i].id%>">
        <%=restaurants[i].name%>
        </a>
      </li>
      <%}%>
     <%}%>
     </ul>
     </div>
     <div class="container">
      <h3>Mexican</h3>
      <ul>
      <%for (let i=0;i<restaurants.length;i++){%>
       <%if(restaurants[i].cuisine.toLowerCase()==='mexican'){%>
       <li>
         <a href="/restaurants/<%=restaurants[i].id%>">
         <%=restaurants[i].name%>
         </a>
       </li>
       <%}%>
      <%}%>
      </ul>
      </div>
  </div>
</div>
  </body>
</html>
