<%- include('./partials/header.ejs') %>
<nav>
  <a href="/restaurants">List of restaurants</a>
  |
  <a href="/restaurants/new">Add a new restaurant</a>
  |
  <a href="/users/signout">Sign Out</a>
</nav>

  <body>
    <h1><%=restaurant.name%></h1>
    <ul>
      <li>
        Rating: <%=restaurant.rating%><br>
        Favorite Dish: <%=restaurant.favDish%><br>
        <img src=<%=restaurant.img%> alt="restaurant img">
      </li>
    </ul>
    <form action="/restaurants/<%=restaurant.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Restaurant">
    </form>
    <a href="/restaurants/<%=restaurant.id%>/edit">
      <button type="button" name="button">Edit</button>
    </a>
  </body>
</html>
